*,
*::after,
*::before {
	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='),
		none !important;
}

.cursor {
	--pulse-amplitude-max: 1.75;
	opacity: 0;
	position: fixed;
	z-index: 99999;
	width: 0.5rem;
	aspect-ratio: 1;
	border-radius: 100%;
	display: block;
	transition: opacity 0.2s ease;
	pointer-events: none;
}

.cursor > span,
.cursor > span > span {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.cursor > span {
	animation-name: pulse;
	animation-duration: 8000ms;
	color: midnightblue;
}

.cursor > span > span {
	background-color: currentColor;
	animation-name: spin;
	animation-duration: 200ms;
	transform-origin: 30%;
}

@keyframes pulse {
	0% {
		color: midnightblue;
		transform: scale(1);
	}
	10% {
		transform: scale(var(--pulse-amplitude-max));
	}
	20% {
		transform: scale(1);
	}
	25% {
		color: rebeccapurple;
	}
	30% {
		transform: scale(var(--pulse-amplitude-max));
	}
	40% {
		transform: scale(1);
	}
	50% {
		color: mediumvioletred;
		transform: scale(var(--pulse-amplitude-max));
	}
	60% {
		transform: scale(1);
	}
	70% {
		transform: scale(var(--pulse-amplitude-max));
	}
	75% {
		color: steelblue;
	}
	80% {
		transform: scale(1);
	}
	90% {
		transform: scale(var(--pulse-amplitude-max));
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
