*,
*::after,
*::before {
	cursor: none;
}

.cursor {
	--pulse-amplitude-max: 1.1;
	opacity: 0;
	position: fixed;
	z-index: 9;
	width: 1.2rem;
	aspect-ratio: 1;
	border-radius: 100%;
	display: block;
	transition: opacity 0.2s ease;
	pointer-events: none;

	@media (hover: none) {
		visibility: hidden;
	}
}

.cursor > span {
	position: absolute;
	display: block;
	width: 100%;
	aspect-ratio: 1;
	animation-name: spin;
	animation-duration: 2200ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: 80%;

	& > span {
		aspect-ratio: 1;
		animation-name: pulse;
		animation-duration: 2200ms;
	}

	&:nth-of-type(2) {
		width: 70%;
		z-index: 1;
	}

	&:first-of-type {
		animation-duration: 1200ms;
		animation-delay: 500ms;
		width: 82%;

		& > span {
			--pulse-amplitude-max: 1.2;
			width: 50%;
			opacity: 0.3;
		}
	}
	&:nth-of-type(2) {
		animation-duration: 1400ms;
		animation-delay: 900ms;
		animation-direction: reverse;
		width: 88%;

		& > span {
			--pulse-amplitude-max: 1.4;
			width: 40%;
			animation-delay: 180ms;
		}
	}
	&:last-of-type {
		animation-duration: 800ms;
		animation-delay: 2500ms;
		width: 80%;

		& > span {
			--pulse-amplitude-max: 1.7;
			width: 30%;
			animation-delay: 80ms;
			opacity: 0.5;
		}
	}
}

.cursor > span > span,
.cursor > span > span > span {
	display: block;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 100%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.cursor > span > span > span {
	background-color: currentColor;
}

@keyframes pulse {
	0% {
		color: midnightblue;
		transform: scale(1);
	}
	10% {
		transform: scale(var(--pulse-amplitude-max));
	}
	20% {
		transform: scale(1);
	}
	25% {
		color: rebeccapurple;
	}
	30% {
		transform: scale(var(--pulse-amplitude-max));
	}
	40% {
		transform: scale(1);
	}
	50% {
		color: mediumvioletred;
		transform: scale(var(--pulse-amplitude-max));
	}
	60% {
		transform: scale(1);
	}
	70% {
		transform: scale(var(--pulse-amplitude-max));
	}
	75% {
		color: steelblue;
	}
	80% {
		transform: scale(1);
	}
	90% {
		transform: scale(var(--pulse-amplitude-max));
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
