[role='link'] {
	pointer-events: all;
	color: darkslategray;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 40% 80%;
	outline-offset: 0.4rem;
	user-select: none;
	touch-action: manipulation;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;

	& > span {
		display: inline-flex;
		position: relative;
		animation-duration: 70ms;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		animation-direction: alternate-reverse;

		&:nth-of-type(7n + 1) {
			animation-delay: 40ms;
		}
		&:nth-of-type(7n + 3) {
			animation-delay: 10ms;
		}
		&:nth-of-type(7n + 2) {
			animation-delay: 70ms;
		}
		&:nth-of-type(7n + 5) {
			animation-delay: 20ms;
		}
		&:nth-of-type(7n + 4) {
			animation-delay: 30ms;
		}
		&:nth-of-type(7n + 7) {
			animation-delay: 50ms;
		}
		&:nth-of-type(7n + 6) {
			animation-delay: 80ms;
		}
	}

	&:hover,
	&:focus:focus-visible {
		animation-name: hiphop;

		& > span {
			animation-name: hiphop;

			&:nth-of-type(7n + 1) {
				color: mediumvioletred;
			}
			&:nth-of-type(7n + 3) {
				color: midnightblue;
			}
			&:nth-of-type(7n + 2) {
				color: dodgerblue;
			}
			&:nth-of-type(7n + 5) {
				color: limegreen;
			}
			&:nth-of-type(7n + 4) {
				color: blueviolet;
			}
			&:nth-of-type(7n + 7) {
				color: mediumaquamarine;
			}
			&:nth-of-type(7n + 6) {
				color: darkolivegreen;
			}
		}
	}
}

@keyframes hiphop {
	from {
		transform: translateY(-2%) translateX(-3%);
	}
	to {
		transform: translateY(1%) translateX(3%);
	}
}
