body {
	background-image: radial-gradient(
		ellipse at var(--mouse-x, 50%) var(--mouse-y, 50%),
		floralwhite 13%,
		honeydew 78%
	);
	background-repeat: no-repeat;
	background-size: max(100vw, 100vh) max(100vw, 100vh);
	background-position: center;

	&::before {
		animation-duration: 0.25s;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
		content: '';
		position: absolute;
		inset: 0;
		z-index: 999;
		background-color: honeydew;
	}

	&.ready {
		&::before {
			animation-name: enter;
		}
	}
}

@keyframes enter {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
