body {
	background: radial-gradient(
		ellipse at var(--mouse-x, 50%) var(--mouse-y, 50%),
		floralwhite 13%,
		honeydew 78%
	);
	&::before,
	&::after {
		content: '';
		width: 300%;
		aspect-ratio: 1;
		position: fixed;
		z-index: 999;
		left: 50vw;
		top: 50vh;
		border-radius: 100%;
		transform: translate(-50%, -50%);
		animation-duration: 1700ms;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
	}
	&::before {
		background: radial-gradient(
			ellipse at 50% 50%,
			honeydew 13%,
			lightcyan 78%
		);
		z-index: 9999;
	}
	&::after {
		background-color: #000054;
		animation-delay: 20ms;
		opacity: 0.05;
	}

	&.ready {
		&::before {
			animation-name: enter-before;
		}
		&::after {
			animation-name: enter-after;
		}

		.enter-btn {
			pointer-events: none;
			animation-name: enter-button;
			animation-duration: 700ms;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;
		}
	}
}

.enter-btn {
	--enter-btn-size: 12rem;
	position: fixed;
	inset: 0;
	z-index: 9999;
	background-color: transparent;
	appearance: none;
	border: 0px;
	touch-action: manipulation;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.enter-btn-inner {
	position: fixed;
	width: var(--enter-btn-size);
	height: var(--enter-btn-size);
	left: calc(50% - var(--enter-btn-size) / 2);
	top: calc(50% - var(--enter-btn-size) / 2);

	&::before,
	&::after {
		content: '';
		position: absolute;
		inset: -1rem;
		border-radius: 100%;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		z-index: -1;
	}

	&::before {
		top: -1rem;
		bottom: -1rem;
		left: -1.5rem;
		right: -0.5rem;
		background-color: #000054;
		animation-delay: 20ms;
		opacity: 0.05;
		transform-origin: calc(50% + 0.5rem);
		animation-name: spin;
		animation-duration: 1600ms;
	}
	&::after {
		top: 0.2rem;
		bottom: 0.2rem;
		left: 0.7rem;
		right: -0.3rem;
		background-color: floralwhite;
		transform-origin: calc(50% - 0.5rem);
		animation-name: spin;
		animation-duration: 2000ms;
	}
}

.enter-btn-text {
	position: absolute;
	font-family: 'Gochi Hand', 'Comic Sans MS';
	font-size: 1.5rem;
	line-height: 1.5;
	color: lightseagreen;
	-webkit-text-fill-color: transparent;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(lightseagreen),
		to(steelblue)
	);
	background: -o-gradient(
		linear,
		left top,
		left bottom,
		from(lightseagreen),
		to(steelblue)
	);
	-webkit-background-clip: text;
}

.enter-btn-text {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.enter-btn-text-inner {
	display: block;
}
.enter-btn-text {
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: hover;
	animation-direction: alternate;
	animation-duration: 10000ms;
}

@keyframes enter-before {
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(100%, -180%) scale(0);
	}
}

@keyframes enter-after {
	60% {
		opacity: 0.05;
	}
	100% {
		opacity: 0;
		transform: translate(100%, -120%) scale(0);
	}
}

@keyframes enter-button {
	60% {
		opacity: 0.05;
	}
	100% {
		opacity: 0;
		transform: translate(100%, -40%) scale(0);
	}
}

@keyframes hover {
	0% {
		translate: -5% 2%;
	}
	25% {
		translate: -2% 5%;
	}
	25% {
		translate: -2% 5%;
	}
	100% {
		translate: 5% -2%;
	}
}
