footer {
	position: fixed;
	bottom: 1rem;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	pointer-events: none;
	cursor: none;
	visibility: visible !important;
	color: lightseagreen;
	color: lightseagreen;
	width: max-content;
	max-width: calc(100% - 2rem);
}
