footer {
	position: fixed;
	bottom: 2rem;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 99;
	pointer-events: none;
	cursor: none;
	visibility: visible !important;
	color: #3dc123;
}
